
<div class="custom-container">
    <nav class="custom-nav custom-nav-pills mt-8 custom-flex-column custom-flex-sm-row">
        <a id="usersTab" class="custom-flex-sm-fill custom-text-sm-center custom-nav-link custom-active"
            href="#">Usuarios</a>
        <a id="trainersTab" class="custom-flex-sm-fill custom-text-sm-center custom-nav-link" href="#">Entrenadores</a>
        <a id="productsTab" class="custom-flex-sm-fill custom-text-sm-center custom-nav-link" href="#">Productos</a>
        <a id="ticketsTab" class="custom-flex-sm-fill custom-text-sm-center custom-nav-link" href="#">Tickets</a>
        <a id="postTab" class="custom-flex-sm-fill custom-text-sm-center custom-nav-link" href="#">Publicaciones</a>
    </nav>
</div>
<div class="container">
    <div id="usersSection" class="mt-3">
        {{> AdminUsers}}
    </div>
    <div id="trainersSection" class="mt-3" style="display: none;">
        {{> adminTrainers}}
    </div>
    <div id="productsSection" class="mt-3" style="display: none;">
        {{> adminProductos}}
    </div>
    <div id="ticketsSection" class="mt-3" style="display: none;">
        {{> adminTickets}}
    </div>
    <div id="postSection" class="mt-3" style="display: none;">
        {{> adminPost}}
    </div>
</div>
<div class="wrapper-btn">
    <a href="/blog" class="blog-btn-admin">Visitar Blog</a>
</div>
</div>

<script src="/js/admin.js"></script>