<link rel="stylesheet" href="/css/home.css">

<header class="header">
  {{> navbar}}
</header>

<section class="home" id="home">
  <div class="home-overlay"></div>
  <div class="banner">
    <div class="banner-contents">
      <h2>NACCI TRAINNER</h2>
      <h1>FITNESS Y WELLNESS</h1>
      <p>productos, servicios y asesorías orientados a la salud, el entrenamiento y el bienestar fisico, mental y espiritual</p>
      <a href="/entrenadores" class="btn-hero">Mas información</a>
    </div>
  </div>
</section>

<section class="facilities">
  <div class="facilities-contents" id="facilities-container"></div>
</section>

<section class="about" id="about">
  <div class="about-contents">
    <div class="about-left-col">
      <img src="/assets/img/about/about-img.jpg" />
    </div>
    <div class="about-right-col">
      <h4>Acerca de Nosotros</h4>
      <h1>Una Iniciativa para Conectar con la Comunidad.</h1>
      <div class="text-about-contet">
        <p class="mb-2"><span class="subtitulo-ab">LIDERAZGO:</span> Nuestra operación deportiva e institucional fomenta el liderazgo en la consecución de mejores resultados y la apropiación de los procesos enseñando y buscando cambios en el estilo de vida de las personas.</p>
        <p class="mb-2"><span class="subtitulo-ab">ÉTICA:</span> Somos una empresa que juega un rol educativo enmarcado y reconocido por su ética profesional, lo cual abarca a su vez el respeto, la puntualidad y la honestidad como pilares.</p>
        <p><span class="subtitulo-ab">COMPROMISO:</span> Es el valor que implica tomar conciencia de la importancia de hacerlo y se refleja cuando un integrante enfrenta las dificultades que se le          presentan, esto implica serenidad y cumplirse con uno mismo.</p>
      </div>
    </div>
  </div>
</section>

<section class="services" id="services">
  <header class="section-header">
    <h3>Nuestros servicios</h3>
    <h1>Los servicios que ofrecemos</h1>
    <p>Nuestro portafolio de servicios está dirigido a todos los sectores de la comunidad.</p>
  </header>
  <div class="services-contents">
    <div class="service-box">
      <div class="service-icon-box">
        <i class="fa-solid fa-dumbbell"></i>
      </div>
      <div class="service-desc">
        <h2>FITNESS KIDS</h2>
        <p>Fomentamos la salud y el desarrollo de los más pequeños con planes personalizados de ejercicio adaptados a su edad. Ofrecemos actividades dinámicas como gimnasia infantil, baile creativo y aquaeróbicos para niños, promoviendo un estilo de vida activo, saludable y divertido desde temprana edad</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-icon-box">
        <i class="fa-solid fa-person-walking"></i>
      </div>
      <div class="service-desc">
        <h2>ADULTO JOVEN</h2>
        <p>Mejoramos tu salud con programas personalizados de ejercicio físico adaptados a tus necesidades. Ofrecemos planes integrales que combinan pilates, rumbaterapia y aquaeróbicos para fortalecer el cuerpo, junto con proyectos de promoción de la salud y prevención de enfermedades, diseñados para mejorar tu bienestar integral.</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-icon-box">
        <i class="fa-solid fa-weight-hanging"></i>
      </div>
      <div class="service-desc">
        <h2>ADULTO MAYOR</h2>
        <p>Ofrecemos programas de entrenamiento personalizados para adultos mayores, diseñados para mejorar su
          movilidad, fuerza y bienestar. Nuestro enfoque integral incluye ejercicios suaves, asesoramiento nutricional y actividades grupales en un ambiente motivador y seguro. ¡Mejora tu calidad de vida hoy mismo!</p>
      </div>
    </div>

    <div class="service-box">
      <div class="service-icon-box">
        <i class="fa-solid fa-dumbbell"></i>
      </div>
      <div class="service-desc">
        <h2>EMPRESAS</h2>
        <p>Nuestro servicio de fitness y wellness para empresas está orientado a mejorar la salud y el bienestar de los colaboradores realizando sesiones de activaciones saludables donde se trabaja la ascertividad, el trabajo en equipo y la resolución de problemas por medio de la recreación, además talleres de salud y bienestar que fomentan la cohesión del grupo.</p>
      </div>
    </div>
  </div>
</section>

<section class="offer">
  <div class="offer-overlay"></div>
  <div class="offer-contents">
    <h3 style="text-align: center;">Encuentra los mejores productos</h3>
    <h1>Visita nuestra tienda</h1>
    <button class="btn start-training-btn"><a href="/tienda" class="a" style="color: white;">Productos
        disponibles</a></button>
  </div>
</section>

<footer>
  {{> footer}}
</footer>

<script src="/js/home.js"></script>