<div class="container-fluid mt-5">
  <h2 class="title-admin">Administración de Entrenadores</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Estado</th>
        <th>Especialización</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="trainersBody"></tbody>
  </table>
</div>