<link rel="stylesheet" href="/css/footer.css">

<section class="page-footer mt-3">
    <div class="footer-contents">
        <div class="footer-col footer-col-1">
            <div class="footer-col-title">
                <h3>Información</h3>
            </div>

            <div class="footer-col-desc">
                <span>calle 69 #1-678, Manizales, Colombia</span>
                <span>+057 3154556321</span>
                <span>Naccitrainner@gmail.com</span>
                <div class="footer-social-media" id="footer-social-media"></div>
            </div>

        </div>

        <div class="footer-col footer-col-2">

            <div class="footer-col-title">
                <h3>Acceso Rapido</h3>
            </div>

            <div class="footer-col-desc" id="footer-col-desc"></div>
        </div>

        <div class="footer-col footer-col-3">
            <img src="/assets/img/favicon.png" width="350px" alt="">
            <span class="text-center" style="color: black;">Nacci Trainner</span>
        </div>
</section>

<div class="copy-rights">
    <p>&copy; <b>Nacci Trainner</b> Todos los derechos reservados</p>
</div>

<script src="/js/footer.js"></script>