<a class="logo" href="/"><img src="/assets/img/favicon.png" alt="" /></a>
<div class="right-icons">
  <div id="menu-bars" class="fas fa-bars" style="display: none;"></div>
  <a href="/login" class="nav-btn a">Ingresar</a>
</div>

<script src="/js/navbar.js"></script>